@import '../colors';

.responseEntry {
  strong {
    display: block;
    font-weight: bold;
    text-align: center;
    color: $scoolNameColor;
  }
  li {
    em {
      font-style: italic;
    }
    a {
      color: $linkColor;
      font-weight: bold;
      text-decoration: none;
    }
  }
}